@charset "utf-8";
/* CSS Document */
body{
	background-color:#E0E0E0;
	font-family: sans-serif;
}
h1{
	text-align:center;
	color:#666666;
	font-size: 38pt;
	text-shadow: 0 -1px 1px #303030, 0 1px 1px #FFFFFF;
}
h2{
	text-align:center;
	color:#666666;
}
a{
	color:#666666;
}
a:visited{
	color:#666666;
}
input, textarea, select, button{font-family:inherit;font-size:inherit;}
#inner{
	width:1200px;
	background-color:#B2B2B2;
	box-shadow: 0 -1px 1px #666666, 0 1px 1px #FFFFFF;
	margin:0 auto;
}
#table_inner{
	width:1180px;
	margin:0 auto;	
}
#table_schacht td{
	padding-top:5px;
	padding-bottom:5px;
}
fieldset{
	width:250px;
	border:solid;
	border-color:#666666;
	color:#666666;
}
legend{
	text-decoration:underline;
}
textarea{
	resize:none;
}
.output{
	background-color:#FFFFFF;
	width:230px;
	height:100px;
	padding:5px;
}
.output_small{
	background-color:#FFFFFF;
	width:230px;
	height:50px;
	padding:5px;
}
.output_smallest{
	background-color:#FFFFFF;
	width:70px;
	height:15px;
	padding:5px;
}
.output_large{
	background-color:#FFFFFF;
	font-size:40pt;
	width:230px;
	height:60px;
	padding:5px;
}
.copy{
	color:#666666;
	font-size:16pt;
	text-align:center;
}
#clock{
	font-size:16pt;
	color:#666666;
	background-color:transparent;
	border:none;
	width:100px;
}
/* Formatierungen für die Hilfeseite */
.hilfe small{
	font-size:10pt;
}
.hilfe table{
	border-collapse:collapse;
}
.hilfe td{
	border:solid; 
	border-color:#666666;
	vertical-align:top;
	padding:5px;
	color:#666666;
}
.hilfe th{
	color:#666666;
}
