#!/usr/bin/env python
#-*-coding: utf-8 -*-

# Um den Passwortschutz zu aktivieren, bitte die folgende Zeile
# mit einem Kommentarzeichen versehen, das Kommentarzeichen in
# der darauffolgenden entfernen, und benutzer:passwort ggf. ändern

password = None
#password = "pi:raspberry"